# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Environment variables
.env

# Build and output directories
dist/
build/
coverage/

# Temporary files
*.tmp
*.temp
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# IDE/Editor-specific files
.vscode/
.idea/
*.iml

# Test reports
/coverage/

# NPM package files
yarn.lock

# Miscellaneous
*.bak
*.orig
*.log
*.out

# Custom
/local_settings.json
.secret/
